name: CI-CD Pipeline

on:
  push:
    branches:
      - main
      - 'features/*'
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker buildx build --push \
            --tag ${{ vars.DOCKERHUB_NAMESPACE }}/${{ vars.DOCKERHUB_REPOSITORY }}:latest \
            --tag ${{ vars.DOCKERHUB_NAMESPACE }}/${{ vars.DOCKERHUB_REPOSITORY }}:${{ github.sha }} \
            .

  unit-and-integration-and-e2e-tests:
    runs-on: ubuntu-latest
    needs: build-and-push-image

    env:
      AIRFLOW_WWW_USER_PASSWORD: ${{ secrets.AIRFLOW_WWW_USER_PASSWORD }}
      AIRFLOW_WWW_USER_USERNAME: ${{ secrets.AIRFLOW_WWW_USER_USERNAME }}
      API_KEY: ${{ secrets.API_KEY }}
      CELERY_BACKEND_NAME: ${{ secrets.CELERY_BACKEND_NAME }}
      CELERY_BACKEND_PASSWORD: ${{ secrets.CELERY_BACKEND_PASSWORD }}
      CELERY_BACKEND_USERNAME: ${{ secrets.CELERY_BACKEND_USERNAME }}
      ELT_DATABASE_NAME: ${{ secrets.ELT_DATABASE_NAME }}
      ELT_DATABASE_PASSWORD: ${{ secrets.ELT_DATABASE_PASSWORD }}
      ELT_DATABASE_USERNAME: ${{ secrets.ELT_DATABASE_USERNAME }}
      FERNET_KEY: ${{ secrets.FERNET_KEY }}
      METADATA_DATABASE_NAME: ${{ secrets.METADATA_DATABASE_NAME }}
      METADATA_DATABASE_PASSWORD: ${{ secrets.METADATA_DATABASE_PASSWORD }}
      METADATA_DATABASE_USERNAME: ${{ secrets.METADATA_DATABASE_USERNAME }}
      POSTGRES_CONN_HOST: ${{ secrets.POSTGRES_CONN_HOST }}
      POSTGRES_CONN_PORT: ${{ secrets.POSTGRES_CONN_PORT }}
      POSTGRES_CONN_USERNAME: ${{ secrets.POSTGRES_CONN_USERNAME }}
      POSTGRES_CONN_PASSWORD: ${{ secrets.POSTGRES_CONN_PASSWORD }}
      CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
      SCHEMA: ${{ secrets.SCHEMA }}
      AIRFLOW_UID: ${{ vars.AIRFLOW_UID }}
      CHANNEL_HANDLE: ${{ vars.CHANNEL_HANDLE }}
      DOCKERHUB_NAMESPACE: ${{ vars.DOCKERHUB_NAMESPACE }}
      DOCKERHUB_REPOSITORY: ${{ vars.DOCKERHUB_REPOSITORY }}
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Compose
        run: docker compose up -d

      - name: Run Unit and Integration Tests
        run: docker exec -t airflow-worker sh -c "pytest -v"

      - name: Wait for DAGs to be loaded
        run: |
          DAG_NAMES=("produce_json" "update_db" "data_quality")
          for DAG in "${DAG_NAMES[@]}"; do
            until docker exec -t airflow-webserver airflow dags list | grep $DAG; do
              echo "Esperando a que se cargue el DAG $DAG..."
              sleep 5
            done
          done

      - name: Run End-to-End DAG Tests
        run: |
          DAG_NAMES=("produce_json" "update_db" "data_quality")
          for DAG in "${DAG_NAMES[@]}"; do
            docker exec -t airflow-webserver sh -c "airflow dags trigger $DAG"
          done

      - name: Tear Down Docker Compose
        run: docker compose down -v
